// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!
// Body Styles 
body,
html,
.body {
    background: #f3f3f3 !important;
}

.container.header {
    background: #f3f3f3;
}

.body-drip {
    border-top: 8px solid #663399;
}

// Full Width Headers
.header {
    background: #8a8a8a;
}

.header .columns {
    padding-bottom: 0;
}

.header p {
    color: #fff;
    padding-top: 15px;
}

.header .wrapper-inner {
    padding: 20px;
}

.header .container {
    background: transparent;
}

// Social Media
table.button.facebook table td {
    background: #3B5998 !important;
    border-color: #3B5998;
}

table.button.twitter table td {
    background: #1daced !important;
    border-color: #1daced;
}

table.button.google table td {
    background: #DB4A39 !important;
    border-color: #DB4A39;
}

.wrapper.secondary {
    background: #f3f3f3;
}

.tb_btn a {
    height: 16px !important;
    font-size: 14px !important;
    padding: 14px 30px !important;
}

.question__btn a {
    width: 40px !important;
    height: 24px !important;
    text-align: center;
}

table.question__row {
    width: 180px;
    margin-left: 40px
}

.question__btn-white a {
    background-color: #ffffff !important;
    color: #00a0c6 !important;
    border: solid 1px #00a0c6 !important;
}

.tb_btn-blue a {
    width: 40px !important;
    height: 24px !important;
    text-align: center;
}

.bookinfo p {
    padding: 0 40px !important;
}

.bookinfo .column_txt_small p {
    color: #919ba5;
    padding: 0 40px !important;
    font-size: 12px !important;
    font-stretch: normal !important;
    letter-spacing: normal !important;
}

.bookinfo .column_txt p {
    color: #919ba5;
    padding: 0 40px !important;
    font-size: 18px !important;
    font-stretch: normal !important;
    line-height: 1.56 !important;
    letter-spacing: normal !important;
}

.bookinfo .column_txt span {
    color: #283741;
}

.bookinfo .column_welcome p {
    height: 24px !important;
    font-size: 20px !important;
    color: #283741 !important;
}

.bookinfo .column_txt em {
    color: #283741 !important;
}

.bookinfo .mobile__info p {
    font-size: 14px;
    line-height: 1.43 !important;
    color: #919ba5 !important;
    padding-left: 0 !important;
    padding-right: 40px !important;
    font-stretch: normal;
}

.bookinfo .mobile__info-left p {
    margin-left: -30px;
}

.bookinfo .mobile__info-right p {
    margin-left: 40px;
}

.bookinfo .mobile__type {
    font-size: 18px;
    line-height: 1.33;
    color: #283741;
    font-weight: bold;
    padding: 0 !important;
}

.bookinfo .mobile__type-left {
    margin-left: -30px;
}

.bookinfo .mobile__type-right {
    margin-left: 40px;
}

.bookinfo .pic_cabinet {
    background-color: #00a0c6;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 40px;
}

.bookinfo .pic_cabinet img {
    padding: 20px;
}

img {
    max-width: 100%;
}