
<container class="bookinfo">
    <row>
        <columns class="column_welcome">
            <center>
                <p><strong>Здравствуйте, Иван!</strong></p>
            </center>
        </columns>
    </row>
    <row>
        <columns class="column_txt">
            <center>
                <p>
                    Вы только что забронировали билет на сайте <a href='www.takebus.ru' style="text-decoration: underline; color:#00a0c6;">www.takebus.ru</a>.
                    Билет будет закреплен за Вами на <span>30</span>
                    минут.
                    Если Вы не оплатите билет за отведенное время, то бронь будет отменена автоматически.
                </p>
                <spacer size="20"></spacer>
                <p>Если Вы случайно закрыли вкладку с нашим сайтом, то подтвердить заказ можно через личный кабинет.</p>
                <spacer size="20"></spacer>
                <p>С уважением, команда Takebus.</p>
            </center>
        </columns>
    </row>
    <spacer size="40"></spacer>
    <row>
        <columns>
            <center>
                <button class="tb_btn radius" href="#">Перейти к оплате</button>
            </center>
        </columns>
    </row>
    <spacer size="40"></spacer>
</container>