
<container class="bookinfo">
    <row>
        <columns class="column_welcome">
            <center>
                <p><strong>Здравствуйте, Иван!</strong></p>
            </center>
        </columns>
    </row>
    <row>
        <columns class="column_txt">
            <center>
                <p>
                    Вы подтвердили бронирование билета на рейс <span>«Санкт-Петербург – Москва»</span>.
                    Он будет закреплен за Вами до времени отправления автобуса.
                    Специально идти в кассу не потребуется, Вы сможете оплатить проезд во время посадки, передав деньги
                    водителю.
                </p>
                <spacer size="20"></spacer>
                <p> Мы не можем гарантировать наличие терминала, поэтому, пожалуйста, возьмите с собой наличные.
                    Будет лучше, если Вы приготовите деньги без сдачи. Это позволит не задерживать посадку и вовремя
                    отправиться в дорогу.
                </p>
                <spacer size="20"></spacer>
                <p>
                    В этом письме мы прикрепили для Вас инструкцию, как пройти на посадку. Можете не распечатывать ее.
                    У водителя в списке пассажиров будет информация о том, что билет забронирован на Ваше имя.
                </p>
                <spacer size="20"></spacer>

                <p>С уважением, команда Takebus.</p>
            </center>
        </columns>
    </row>
    <spacer size="30"></spacer>
</container>