
<container class="bookinfo">
    <row>
        <columns class="column_welcome">
            <center>
                <p><strong>Здравствуйте, Иван!</strong></p>
            </center>
        </columns>
    </row>
    <row>
        <columns class="column_txt">
            <center>
                <p>
                    Вы купили билет без номера места, но это не значит, что Вы поедете стоя.
                </p>
                <spacer size="20"></spacer>
                <p>Дело в том, что перевозчик, у которого Вы купили билет, предоставляет нам квоту на определенное
                    количество мест, но не указывает, какие именно номера будут свободны при посадке.
                </p>
                <spacer size="20"></spacer>
                <p>
                    Во время посадки водитель скажет Вам, какое место Ваше и оно будет закреплено за Вами на протяжении
                    всей поездки.
                </p>
                <spacer size="20"></spacer>
                <p>С уважением, команда Takebus.</p>
            </center>
        </columns>
    </row>
    <spacer size="30"></spacer>
</container>