
<container  style="background-color: #283741;">
    <spacer size="40"></spacer>
    <row>
        <columns>
            <p class="text-center" style='height: 100%; font-size: 20px; color: #fff;'>Мобильное приложение Takebus Мобильное приложение Takebus
                Мобильное приложение Takebus Мобильное приложение Takebus Мобильное приложение Takebus Мобильное приложение 
                Takebus Мобильное приложение Takebus Мобильное приложение Takebus
            </p>
        </columns>
    </row>
    <row>
        <columns>
            <p class="text-center" style='height: 16px; font-size: 14px; color: #fff;'>Ваши билеты всегда под рукой!</p>
        </columns>
    </row>
    <spacer size="20"></spacer>
    <row>
        <columns>
            <center>
                <menu>
                    <item><img src="http://res.cloudinary.com/dqvomjlul/image/upload/v1536832131/subscribe_appstore.png" alt="Appstore"></item>
                    <item><img src="http://res.cloudinary.com/dqvomjlul/image/upload/v1536832117/subscribe_googleplay.png" alt="GooglePlay"></item>
                </menu>
            </center>
            <img>
        </columns>
    </row>
    <spacer size="40"></spacer>
</container>

<container class="body" style="width: 100px">
    <spacer size="20"></spacer>
    <row>
        <columns size='12'>
            <center>
                <menu style='height:16px;font-size:14px; ' class="custom-footer__menu">
                    <item href="#" >Условия использования <span style="color: #919ba5; padding-left:6px;">|</span></item>
                    <item href="#" >Связаться с нами <span style="color: #919ba5; padding-left:6px;"></span></item>
                </menu>
            </center>
        </columns>
    </row>
    <spacer size="5"></spacer>
    <row>
        <columns>
            <center>
                <p class="text-center" style='height:14px;font-size:12px;color: #919ba5;'>© 2018 TakeBus - билеты на междугородние автобусы</p>
            </center>
        </columns>
    </row>
</container>
<spacer size="40"></spacer>

