
<container  style="background-color: #00a0c6">
    <spacer size="40"></spacer>
    <row>
        <columns>
            <p class="text-center" style='font-size: 16px; color: #fff; margin-left:20px;margin-right: 20px;'>Ваши билеты всегда под рукой!</p>
            <p class="text-center" style='font-size: 16px; color: #fff; margin-left:20px;margin-right: 20px;'>Будем очень рады видеть вас в числе наших подписчиков и постоянных клиентов.</p>
            <p class="text-center" style='font-size: 16px; color: #fff; margin-left:20px;margin-right: 20px;'>Мы ежедневно работаем над улучшением сервиса для вашего удобства и комфорта! </p>

        </columns>
    </row>
    <spacer size="20"></spacer>
</container>

<container class="body" style="width: 100px">
    <spacer size="20"></spacer>
    <row>
        <columns size='14'>
            <center>
                <p class="text-center" style='font-size:14px;color: #919ba5;'>
                    Вы получили это письмо как пользователь <span style='color: #00a0c6;'>takebus.ru</span>. Если вы не хотите получать от нас письма, воспользуйтесь возможностью <span style='color: #00a0c6;'>отписаться</span> от рассылки.</p>
            </center>
        </columns>
    </row>
    <spacer size="2"></spacer>
    <row>
        <columns>
            <center>
                <p class="text-center" style='height:14px;font-size:12px;color: #919ba5;'>© 2018 TakeBus - билеты на междугородние автобусы</p>
            </center>
        </columns>
    </row>
</container>
<spacer size="40"></spacer>

