<spacer size="40"></spacer>

<container>
    <spacer size="40"></spacer>
    <row>
        <columns>
            <center>
                <img src="http://res.cloudinary.com/dqvomjlul/image/upload/v1536831954/subscribe_logo.png" alt="Takebus logo" width="" height="" border="0" style="border:0; outline:none; text-decoration:none; display:block;">
            </center>
        </columns>
    </row>
    <spacer size="40"></spacer>
    <row>
        <columns>
            <center>
                <img src="http://res.cloudinary.com/dqvomjlul/image/upload/v1536832031/subscribe_bus.png" alt="Takebus bus" >
            </center>
        </columns>
    </row>
    <spacer size="40"></spacer>
</container>