
<container class="bookinfo">
    <row>
        <columns class="column_welcome">
            <center>
                <p><strong>Здравствуйте, Иван!</strong></p>
            </center>
        </columns>
    </row>
    <row>
        <columns class="column_txt">
            <center>
                <p>
                    Возврат билета на рейс <span>«Санкт-Петербург – Москва»</span> прошел успешно.
                </p>
                <spacer size="20"></spacer>
                <p>На Ваш счет в личном кабинете переведено <span>500</span> бонусов. Вы сможете оплатить ими любую
                    поездку. </p>
                <spacer size="20"></spacer>
                <p>Популярные вопросы:</p>
                <spacer size="20"></spacer>
                <p><em>&gt;&gt;Сколько дней будут действовать бонусы?</em></p>
                <spacer size="20"></spacer>
                <p>У начисленных бонусов нет срока действия, Вы всегда сможете их потратить.</p>
                <spacer size="20"></spacer>
                <p><em>&gt;&gt;На что я могу их потратить?</em></p>
                <spacer size="20"></spacer>
                <p>Бонусами можно оплатить любую поездку на нашем сайте или в нашем приложении</p>
                <spacer size="20"></spacer>
                <p><em>&gt;&gt;Какую часть от стоимости билета я могу оплатить бонусами?</em></p>
                <spacer size="20"></spacer>
                <p>Вы можете полностью оплатить поездку бонусами. В случае, если бонусы останутся, Вы сможете потратить
                    их на следующий билет полностью или частично.</p>
                <spacer size="20"></spacer>
                <p><em>&gt;&gt;Могу ли я вернуть стоимость билета деньгами, а не бонусами?</em></p>
                <spacer size="20"></spacer>
                <p>Да. Для возврата денежных средств отправьте письмо на адрес <a href='mailto:info@takebus.ru' style="text-decoration: underline; color:#00a0c6;">info@takebus.ru</a> с темой
                    &quot;ВОЗВРАТ&quot;.
                    В письме укажите дату, когда купили билет, ФИО пассажира, рейс, дату и время отправления.
                    Возврат денег на карту занимает до 30 дней*. *Это правила банковских переводов.
                    По нашему опыту, на карту Сбербанка, деньги возвращаются в течение 10 дней, карта другого банка – 5
                    дней.
                    Если прошло больше 30 дней, и деньги так и не пришли, напишите письмо на адрес <a href='mailto:info@takebus.ru' style="text-decoration: underline; color:#00a0c6;">info@takebus.ru</a> или
                    позвоните по телефону: 8 800 333 46 10 в рабочее время.</p>
                <spacer size="20"></spacer>
                <p>С уважением, команда Takebus.</p>
            </center>
        </columns>
    </row>
    <spacer size="30"></spacer>
</container>