
<container class="bookinfo">
    <row>
        <columns class="column_welcome">
            <center>
                <p><strong>Здравствуйте, любимый клиент! </strong></p>
            </center>
        </columns>
    </row>
    <row>
        <columns class="column_txt">
            <center>
                <p style=' line-height: 1.56; font-size: 18px'>
                    Мы счастливы, что вы с нами и хотим стать ещё ближе.  <br/>
                    С сегодняшнего дня ваше общение с нами становится ещё удобнее и комфортнее, потому что мы предлагаем вам загрузить мобильное приложение перевозчика, осуществляющего поездки по маршруту «Москва-Майами-Москва», где можно получить бонусы и скидки.  
                </p>
                <spacer size="20"></spacer>
                <p>Загрузите мобильное приложение перевозчика и получите все «плюшки» по акциям.</p>
            </center>
        </columns>
    </row>
    <spacer size="20"></spacer>
    <row>
            <columns>
                <left>
                    <menu>
                        <item><a href="http://www.takebus.ru">iOS Автотранс TEST</a></item>
                        <item><img src="http://res.cloudinary.com/dqvomjlul/image/upload/v1536832117/subscribe_googleplay.png" alt="GooglePlay"></item>
                    </menu>
                </left>
                <img>
            </columns>
    </row>
    <spacer size="20"></spacer>
</container>