
<container class="bookinfo">
    <row>
        <columns class="column_welcome">
            <center>
                <p><strong>Здравствуйте, Иван!</strong></p>
            </center>
        </columns>
    </row>
    <row>
        <columns class="column_txt">
            <center>
                <p> Вы приобрели билет на рейс <span>«Санкт-Петербург – Москва»</span>.</p>
                <spacer size="20"></spacer>
                <p>Чтобы при посадке не возникло проблем, пожалуйста, распечатайте pdf-версию документа.</p>
                <spacer size="20"></spacer>
                <p>Счастливого пути!</p>
            </center>
        </columns>
    </row>
    <spacer size="40"></spacer>
    <row>
        <columns>
            <center>
                <button class="tb_btn radius" href="#">Распечатать билет</button>
            </center>
        </columns>
    </row>
    <spacer size="40"></spacer>
</container>