<container class="bookinfo">
    <row>
        <columns class="column_welcome">
            <center>
                <p><strong>Здравствуйте, Иван!</strong></p>
            </center>
        </columns>
    </row>
    <row>
        <columns class="column_txt">
            <p> Мы рады, что Вы воспользовались нашим приложением. Надеемся, что Вам будет удобно искать билеты и
                комфортно в поездке.</p>
        </columns>
    </row>
    <spacer size="20"></spacer>
    <row>
        <columns large='1'>
            <div class="pic_cabinet">
                <img src="http://res.cloudinary.com/dqvomjlul/image/upload/v1536832132/subscribe_search.png" alt="Search" />
            </div>
        </columns>
        <columns class="mobile__info mobile__info-left">
            <span class="mobile__type mobile__type-left">ПОИСК</span>
            <spacer size="5"></spacer>
            <p>В разделе «Поиск» Вы найдете все направления, по которым ходят автобусы <span style="color: #283741">takebus</span>.
                При клике на нужный рейс Вы сможете выбрать подходящую дату и забронировать билет. </p>
        </columns>
    </row>
    <spacer size="40"></spacer>
    <row>
        <columns class="mobile__info mobile__info-right">
            <span class="mobile__type mobile__type-right">КАБИНЕТ</span>
            <spacer size="5"></spacer>
            <p>Личный кабинет состоит из трех разделов : Билеты, Пассажиры и Настройки.</p>
            <spacer size="20"></spacer>
            <p>В разделе «Билеты» будут храниться все билеты, которые Вы бронировали и покупали. Здесь Вы сможете
                оплатить забронированные билеты и вернуть купленные, если Ваша поездка отменяется.</p>
            <spacer size="20"></spacer>
            <p>В разделе «Пассажиры» Вы можете сохранить свои паспортные данные и данные Ваших попутчиков. Когда будете
                покупать билет, больше не придется вводить эту информацию заново.</p>
            <spacer size="20"></spacer>
            <p>В разделе «Настройки» можно проверить баланс бонусного счета и привязать банковскую карту, а также
                настроить уведомления.</p>
        </columns>
        <columns large='1'>
            <div class="pic_cabinet">
                <img src="http://res.cloudinary.com/dqvomjlul/image/upload/v1536832131/subscribe_person.png" alt="Cabinet" />
            </div>
        </columns>
    </row>
    <spacer size="40"></spacer>
    <row>
        <columns large='1'>
            <div class="pic_cabinet">
                <img src="http://res.cloudinary.com/dqvomjlul/image/upload/v1536832118/subscribe_help.png" alt="Help" />
            </div>
        </columns>
        <columns class="mobile__info mobile__info-left">
            <span class="mobile__type mobile__type-left">ПОДДЕРЖКА</span>
            <spacer size="5"></spacer>
            <p>Поддержка - это чат, в котором на Ваши вопросы ответят наши сотрудники. Вы можете уточнить детали рейса,
                спросить про бонусы или возврат билета.
            </p>
        </columns>
    </row>
    <spacer size="40"></spacer>
    <row>
        <columns class="mobile__info mobile__info-right">
            <span class="mobile__type mobile__type-right">АВТОБУСЫ</span>
            <spacer size="5"></spacer>
            <p>Здесь Вы можете посмотреть как будет выглядеть автобус, на котором Вы поедете. Это поможет Вам легко
                найти его на автовокзале.</p>
        </columns>
        <columns large='1'>
            <div class="pic_cabinet">
                <img src="http://res.cloudinary.com/dqvomjlul/image/upload/v1536832117/subscribe_buses.png" alt="Buses" />
            </div>
        </columns>
    </row>
    <spacer size="40"></spacer>
    <row>
        <columns large='1'>
            <div class="pic_cabinet">
                <span style="font-size: 50px; color: white; display: inline-block; width: 50px;height:50px;position:relative; margin: 8px 18px;">&#9432;
                </span>
            </div>
        </columns>
        <columns class="mobile__info mobile__info-left">
            <span class="mobile__type mobile__type-left">ИНФО</span>
            <spacer size="5"></spacer>
            <p>В этом разделе Вы найдете телефон и электронную почту техподдержки. В рабочее время Вам ответят на все
                вопросы. Также здесь Вы сможете оценить качество приложения.
            </p>
        </columns>
    </row>
    <spacer size="40"></spacer>
</container>