<container class="bookinfo">
    <row>
        <columns class="column_welcome">
            <center>
                <p><strong>Здравствуйте, Иван!</strong></p>
            </center>
        </columns>
    </row>
    <row>
        <columns class="column_txt">
            <center>
                <p>
                    Вы купили билет на сайте <a href='www.takebus.ru' style="text-decoration: underline; color:#00a0c6;">www.takebus.ru</a>.
                    Нам важно, чтобы Вам было легко и удобно покупать билеты через наш сайт (приложение),
                    поэтому мы всегда прислушиваемся к пожеланиям наших пассажиров. Чтобы помочь нам стать лучше,
                    пожалуйста, ответьте на 4 вопроса:
                </p>
            </center>
        </columns>
    </row>
    <spacer size="20"></spacer>
    <p>1.Удобно ли искать рейсы в нашем приложении?</p>
    <row class="question__row">
        <columns>
            <button class="question__btn radius" href="#">Да</button>
        </columns>
        <columns>
            <button class="question__btn question__btn-white radius" href="#">Нет</button>
        </columns>
    </row>
    <spacer size="20"></spacer>
    <p>2. Легко ли Вы заполнили паспортные данные пассажиров?</p>
    <row class="question__row">
        <columns>
            <button class="question__btn question__btn-white radius" href="#">Да</button>
        </columns>
        <columns>
            <button class="question__btn radius" href="#">Нет</button>
        </columns>
    </row>
    <spacer size="20"></spacer>
    <p>3. Возникли ли у Вас трудности при оплате билета?</p>
    <row class="question__row">
        <columns>
            <button class="question__btn question__btn-white radius" href="#">Да</button>
        </columns>
        <columns>
            <button class="question__btn question__btn-white radius" href="#">Нет</button>
        </columns>
    </row>
    <spacer size="20"></spacer>
    <p>4. Напишите, что бы вы изменили в нашем приложении</p>
    <row class="question__row">
        <columns>
            <textarea style='border: solid 1px #e1e4e6;' cols="50" rows="5">текст</textarea>
        </columns>
    </row>
    <spacer size="20"></spacer>
    <row>
        <columns>
            <center>
                <button class="tb_btn radius" href="#">Отправить результат</button>
            </center>
        </columns>
    </row>
    <spacer size="40"></spacer>
</container>