
<container class="bookinfo">
    <row>
        <columns class="column_welcome">
            <center>
                <p><strong>Здравствуйте, Иван!</strong></p>
            </center>
        </columns>
    </row>
    <row>
        <columns class="column_txt">
            <center>
                <p>Забыли свой пароль? Не беда! </p>
                <spacer size="20"></spacer>
                <p>
                    Для создания нового пароля просто перейдите по этой <a href='#' style="text-decoration: underline; color:#00a0c6;">ссылке</a>.
                </p>
                <spacer size="20"></spacer>
                <p>Вы получили это письмо после того, как оно было запрошено на сайте <a href='#' style="text-decoration: underline; color:#00a0c6;"></a>www.takebus.ru</a>.
                    Если этот запрос был выполнен не Вами - значит кто-то пытается получить доступ к Вашему личному
                    кабинету и данным.
                    В этом случае не переходите по ссылкам, смените Ваш пароль и сообщите о ситуации в службу
                    поддержки.</p>
                <spacer size="20"></spacer>
                <p>С уважением, команда Takebus.</p>
            </center>
        </columns>
    </row>
    <spacer size="40"></spacer>
    <row>
        <columns>
            <center>
                <button class="tb_btn radius" href="#">Восстановить пароль</button>
            </center>
        </columns>
    </row>
    <spacer size="40"></spacer>
</container>