
<container class="bookinfo">
    <row>
        <columns class="column_welcome">
            <center>
                <p><strong>Здравствуйте, Иван!</strong></p>
            </center>
        </columns>
    </row>
    <row>
        <columns class="column_txt">
            <center>
                <p>Если Ваша поездка по каким-либо причинам не состоится, Вам необходимо ДО отправления автобуса произвести возврат билета в Личном кабинете. </p>
                <spacer size="20"></spacer>
                <p>• При этом на Ваш счет будут начислены бонусы в 100% размере от стоимости билета. Бонусами Вы можете оплатить любой другой билет.</p>
                <spacer size="20"></spacer>
                <p>• Для возврата денежных средств отправьте письмо на адрес <a href='mailto:info@takebus.ru'>info@takebus.ru</a> с темой &quot;ВОЗВРАТ&quot;. 
                    В письме укажите дату, когда купили билет, ФИО пассажира, рейс, дату и время отправления. 
                    Возврат денег на карту занимает до 30 дней*. *Это правила банковских переводов.</p>
            </center>
        </columns>
    </row>
    <spacer size="30"></spacer>
</container>